@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'JetBrains Mono', monospace;
    scroll-behavior: smooth;
}

#container {
    width: 100%;
    margin: 0 auto;
}

[class*="col-"] { float: left; padding: 15px; }

@media only screen and (max-width: 767px) {
    [class*="col-"]{
        width: 100%;
        padding: 0;
    }

    #nav .col-2 { width: 0%; }  
    .icon { display: none; }
    .home-txt { text-align: center; }
    .socials {
        display: flex;
        margin-bottom: 80px; 
        align-items: center; 
        justify-content: center;
    }
    .socials a { padding: 0 10px; }
    .banner #profile {
        width: 300px;
        height: 250px;
    }
    .profile {
        display: block;
        margin: 20px auto;

        object-fit: cover;
        object-position: 0 30%;
    }
    h1 {
        text-align: center;
    }
    #about { padding: 0 30px; }
}

@media only screen and (min-width: 768px) {
    .col-1 { width: 8.33%; }
    .col-2 { width: 16.66%; }
    .col-3 { width: 25%; }
    .col-4 { width: 33.33%; }
    .col-5 { width: 41.66%; }
    .col-6 { width: 50%; }
    .col-7 { width: 58.33%; }
    .col-8 { width: 66.66%; }
    .col-9 { width: 75%; }
    .col-10 { width: 83.33%; }
    .col-11 { width: 91.66%; }
    .col-12 { width: 100%; }
}

/* NAVIGATION START*/
#gradient-bar {
    background: linear-gradient(to right, #333D29, #A4AC86, #582F0E);
    color: #0e0e0e;
    height: 7px;
}

#nav {
    position: fixed;
    width: 100%;
    height: 65px;
}

#nav [class*="col-"] {
    height: inherit;
    padding: 0px; 
    background-color: #0e0e0eac;
    -webkit-backdrop-filter: blur(6px);
    backdrop-filter: blur(6px);
}

#sticky-top {
    background-color: #0e0e0eac;
}

#sticky-top ul {
    height: 99%;
    padding: 0;
    margin: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

#sticky-top li {
    list-style: none;
    height: 99%;
    padding: 20px 10px 30px 10px;
    float: left;
}

#sticky-top a {
    color: #e0e0e0;
    text-decoration: none;

    display: inline-block;
    position: relative;
}

#sticky-top a:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 3px;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #A4AC86;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

#sticky-top a:hover:after { 
    width: 100%; 
    left: 0; 
}

.login-wrapper {
    width: auto;
    margin: 0;
  }
  
button {
    padding: 2px 10px;
    border: 0;
    outline: 0;
    color: #e0e0e0;
    background-color: #582F0E;
    font-size: 16px;
    text-transform: lowercase;
    border-radius: 4px;
    transition: background-color 0.5s ease;

    &:active {
      margin-top: 1px;
    }
    &:hover {
        background-color: #333D29;
    }
}

form button {
    margin-top: 20px;
    float: right;
    &:active {
        margin-top: 18px;
    }
}
  
.login-container {
    position: relative;
}

label, input {
    padding: 5px;
    margin-top: 10px;
}
  
.login-form {
    display: none;
    box-shadow: 1px 1px 10px 1px #00000038 ;
    width: 325px;
    color: #e0e0e0;
    font-size: 14px;
    position: absolute;
    padding: 20px;
    margin-top: 10px;
    background: #181818;
    border-radius: 4px;
    box-shadow: 0 4px 0 darken(#222222, 5%);
}
  
.open {
    display: block;
}

input {
    border: none;
    border-radius: 2px;
    background-color: #a9a9a9;
    outline: 0;
    border-color: #0E0E0E;
    color: #0e0e0e;
    &:focus {
        border-bottom: 3px solid #72865d;
        background-color: #c9c9c9;
    }
}
/* NAVIGATION END */

/* HOME START */
#home {
    background: linear-gradient(to right, #14160D, #231C16);
    height: 640px   ;
    padding-top: 80px;
    overflow: auto;
    clear: both;
}

.icon {
    margin-top: 100px;
    width: 450px;
    height: auto;
    padding: 0;
}

.intro {
    margin-top: 100px;
    padding: 0;
}

p, h1 {
    color: #E0E0E0;
    line-height: 1.5;
}

.intro p, .banner p {
    padding: 1.1em 0;
    font-size: 16px;
}

.intro h1, #about h1, #projects h1, #contact h1 {
    font-size: 64px;
    line-height: 1;
}

span {
    color: #A4AC86;
}
/* HOME END */

/* ABOUT ME START */
#about {
    background-color: #0e0e0e;
    clear: both;
    height: auto;
    overflow: auto;
}

#about .col-8 {
    margin: 0;
}

#about h1 {
    padding: 80px 0 10px 0;
}

.profile {
    width: 380px;
    height: auto;
    border-radius: 10px;
    padding: 0;
    margin-top: 25px;
}

.banner-txt {
    text-align: justify;
}

.box {
    background-color: #181818;
    border-radius: 8px;
    overflow: auto;
}

.box ul {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

.box li {
    list-style-type: none;
    float: left;
}

.box img {
    padding: 15px;
}

/* PROJECTS START */
#projects {
    background: linear-gradient(#0E0E0E, #1A1C15, #1E1915);
    height: auto;
}

#projects a {
    color: #e0e0e0;
    text-decoration: none;
}

.proj-grid {
    
}
/* PROJECTS END */

/* CONTACTS START */
#contact {
    background-color: red;
    height: auto;
}

#con-box-1 {
    position: absolute;

    width: 500px;
    height: 90%;
    z-index: 1;
}

#con-box-2 {
    position: absolute;
    width: 300px;
    height: 100%;
    z-index: 2;
    
  }
/* CONTACTS END*/

/* GENERAL START */
/* GENERAL END */