@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'JetBrains Mono';
    scroll-behavior: smooth;
}

#container {
    width: 100%;
    margin: 0 auto;
}

[class*="col-"] { float: left; padding: 15px; }

@media only screen and (max-width: 767px) {
    [class*="col-"]{ width: 100%; padding:0px; }
    #nav .col-2 { width: 0%; }  
    .icon { display: none; }
    .home-txt { text-align: center; }
    .socials { display: flex; flex-flow: row, nowrap; margin-bottom: 80px; align-items: center; justify-content: space-evenly; }
}

@media only screen and (min-width: 768px) {
    .col-1 { width: 8.33%; }
    .col-2 { width: 16.66%; }
    .col-3 { width: 25%; }
    .col-4 { width: 33.33%; }
    .col-5 { width: 41.66%; }
    .col-6 { width: 50%; }
    .col-7 { width: 58.33%; }
    .col-8 { width: 66.66%; }
    .col-9 { width: 75%; }
    .col-10 { width: 83.33%; }
    .col-11 { width: 91.66%; }
    .col-12 { width: 100%; }
}

/* NAVIGATION START*/
#gradient-bar {
    background: linear-gradient(to right, #333D29, #A4AC86, #582F0E);
    color: #0e0e0e;
    height: 7px;
}

#nav {
    position: fixed;
    width: 100%;
    height: 70px;
}

#nav [class*="col-"] {
    height: inherit;
    padding: 0px; 
    background-color: #0e0e0eac;
    -webkit-backdrop-filter: blur(6px);
    backdrop-filter: blur(6px);
}

#sticky-top {
    background-color: #0e0e0eac;
}

#sticky-top ul {
    height: 99%;
    padding: 0;
    margin: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

#sticky-top li {
    list-style: none;
    height: 99%;
    padding: 20px 10px 30px 10px;
    float: left;
}

#sticky-top a {
    color: #BABABA;
    text-decoration: none;

    display: inline-block;
    position: relative;
}

#sticky-top a:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #A4AC86;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

#sticky-top a:hover:after { 
    width: 100%; 
    left: 0; 
}

/* NAVIGATION END */


/* HOME START */
#home {
    background: linear-gradient(to right, #14160D, #231C16);
    height: 650;
    padding-top: 80px;
    overflow: auto;
    clear: both;
}

.icon {
    margin-top: 100px;
    width: 450px;
    height: auto;
    padding: 0;
}

.intro {
    margin-top: 100px;
    padding: 0;
}

p, h1 {
    color: #E0E0E0;
    line-height: 1.5;
}

.intro p, .banner p {
    padding: 1.1em 0;
    font-size: 18px;
}

.intro h1, #about h1, #projects h1, #contact h1 {
    font-size: 64px;
    line-height: 1;
}

span {
    color: #A4AC86;
}

/* HOME END */

/* ABOUT ME START */
#about {
    background-color: #0e0e0e;
    clear: both;
    float: left;
    height: auto;
    overflow: auto;
}

#about .col-8 {
    margin: 0;
}

#about h1 {
    padding-top: 80px;
}

#profile {
    width: 350px;
    height: auto;

    border-radius: 10px;
}

.box {
    background-color: #181818;
    border-radius: 8px;
    overflow: auto;
}

.box li {
    list-style-type: none;
    float: left;
}

.box img {
    padding: 15px;
}



/* PROJECTS START */
#projects {
    background: linear-gradient(#0E0E0E, #1A1C15, #1E1915);
    height: auto;

}


/* PROJECTS END */

/* CONTACTS START */


/* CONTACTS END*/

/* GENERAL START */
/* GENERAL END */